- if request.path == "/"
  %meta{ property: "og:title", content: "Thorrents - TPB made easy!" }
  %meta{ property: "og:url", content: "http://thorrents.com" }
  %meta{ property: "og:type", content: "website" }
- else
  %meta{ property: "og:title", content: "#{@result.titleize}: downloaded with Thorrents" }
  %meta{ property: "og:url", content: "http://thorrents.com/search/#{@query}/#{@result}" }
  %meta{ property: "og:type", content: "article" }

%meta{ property: "og:site_name", content: "Thorrents" }
%meta{ property: "og:image", content: @fb_image || "http://thorrents.com/imgs/thor_hammer_icon.png" }
%meta{ property: "fb:admins", content: "1218562195" }/
-# og:description

