%meta{ property: "og:title", content: "#{@result.titleize}: downloaded with Thorrents" }
%meta{ property: "og:url", content: "http://thorrents.com/search/#{@query}/#{@result}" }
-#%meta{ property: "og:type", content: "" }
%meta{ property: "og:site_name", content: "Thorrents" }
%meta{ property: "og:image", content: "http://thorrents.com/imgs/thor_hammer_icon.png" }
-# og:description


<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.recipefy.com/"/>