%a.fork_badge{ href: "https://github.com/makevoid/thorrents"}

  %img{ src: "https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt: "Fork me on GitHub" }

%h2 Docs

.docs
  %p Thorrents is an open source project made for fun and use, you can install it on your machine/server, you can look at the code, you can easily get a copy of (download it or fork it) and improve it!
  %p Or... if you are interested in using the api you can look at these example(s).

  %p the api is simple:

  %p.code GET http://#{HOST}/search/SOMESTUFF.json

  %p note: your search term has to be URL encoded



  %p example call with curl:

  %p.code
    curl http://#{HOST}/search/ubuntu.json

  %p results returned in JSON format!

  .gist
    %script{ src: "https://gist.github.com/1629412.js?file=thorrents_search_results.json"}


  %h3 Extra:

  %p Embed this code in your page (without body and html tags) to show torrents results of some custom search (with jQuery)

  %p
    %a{ href: "http://pastehtml.com/view/bl2tynde0.html" } [ Demo ]

  .gist
    %script{ src: "https://gist.github.com/1629412.js?file=thorrents_jsonp_embed.html" }

  %p p.s. yes, the api supports JSONP requests with callback
