- content_for :head do
  %script{ src: "/js/search.js", type: "text/javascript" }
  = haml :"_fb_events"

#search
  #spinner
    - image_tag "/imgs/spinner.gif"
  %form{ method: "get" }
    %input{ name: "q", type: "search" }
    %input{ type: "submit", value: "search", class: "submit"}


#results
  %ul
    %li 
      /
        .res
          link_to "<span>123</span>test"

      
.clear

/
  #advices
    %p Recommended clients:
    %ul
      %li Transmission (mac/linux)
      %li uTorrent (windows)
    