- content_for :head do
  %script{ src: "/js/search.js", type: "text/javascript" }
- content_for :jquery do
  :plain
    $("#results li").live("click", function(evt){
      var url = $(this).children("a").attr("href") 
      if (url)
        document.location = url
        
      evt.preventDefault()
    })


#search
  #spinner
    - image_tag "/imgs/spinner.gif"
  %form{ method: "get" }
    %input{ name: "q", type: "search" }
    %input{ type: "submit", value: "search", class: "submit"}


%ul#results
  %li 
.clear

/
  #advices
    %p Recommended clients:
    %ul
      %li Transmission (mac/linux)
      %li uTorrent (windows)
    