// buttons

@mixin rounded($border)
  -webkit-border-radius= $border
  -moz-border-radius= $border
  border-radius= $border

@mixin shadow
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2)
  box-shadow: 0 1px 2px rgba(0,0,0,.2)

@mixin gradient($top, $bottom)
  background-color= $bottom
  background= -webkit-gradient(linear, left top, left bottom, from($top), to($bottom))
  background= -moz-linear-gradient(top, $top,  $bottom)
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}')

@mixin button
  display: inline-block
  padding: .1em 1em .12em
  outline: none
  cursor: pointer
  text-align: center
  text-decoration: none
  font-size: 1.1em
  @include rounded('.5em')
  // this determines Mozilla to show the padding
  border: solid 1px #ccc
  @include shadow
  text-shadow: 0 1px 1px rgba(0,0,0,.3)
  &:hover
    text-decoration: none
  &:active
    position: relative
    top: 1px

@mixin color($background)
  border: solid 1px darken($background, 3%)
  @include gradient(lighten($background, 13%), $background)
  color= mix(#fff, $background, 90%)
  &:hover
    @include gradient(lighten($background, 10%), darken($background, 5%))
  &:active
    @include gradient($background, lighten($background, 10%))
    color= mix(#fff, $background, 70%)

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="file"] > input[type="button"]
  &::-moz-focus-inner
    border: none

// mixins

=border-radius($radius)
  border-radius: $radius
  //behavior: url('/border-radius.htc')
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  
=border-radius-bottom($radius)
  border-bottom-left-radius: $radius
  border-bottom-right-radius: $radius
  //behavior: url('/border-radius.htc')
  -moz-border-radius-bottomleft: $radius
  -moz-border-radius-bottomright: $radius
  -webkit-border-bottom-left-radius: $radius
  -webkit-border-bottom-right-radius: $radius

=border-radius-top($radius)
  border-top-left-radius: $radius
  border-top-right-radius: $radius
  //behavior: url('/border-radius.htc')
  -moz-border-radius-topleft: $radius
  -moz-border-radius-topright: $radius
  -webkit-border-top-left-radius: $radius
  -webkit-border-top-right-radius: $radius
  
=simple_gradient($start_color, $end_color)
  background: $start_color
  background-image: -moz-linear-gradient(top, $start_color 0%, $end_color 100%) 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(100%,$end_color))
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start_color', endColorstr='$end_color',GradientType=0 )
  
=simple_gradient_tri($start, $stop, $end)
  background: $start
  background-image: -moz-linear-gradient(top, $start 0%, $stop 50%, $end 100%) 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(50%,$start), color-stop(100%,$end))
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 )

=gradient_tri($start, $stop, $end, $perc1, $perc2, $perc3)
  background: $start
  background-image: -moz-linear-gradient(top, $start $perc1, $stop $perc2, $end $perc3) 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop($perc1,$start), color-stop($perc2,$stop), color-stop($perc3,$end))

=simple_gradient_half($start_color, $stop_color, $restart_color, $end_color)
  background: $end_color
  background-image: -moz-linear-gradient(top, $start_color 0%, $stop_color 50%, $restart_color 51%, $end_color 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(50%,$stop_color), color-stop(51%,$restart_color), color-stop(100%,$end_color))
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start_color', endColorstr='$end_color',GradientType=0 )

=box-shadow($x, $y, $radius, $color)
  -moz-box-shadow: $x $y $radius $color
  -webkit-box-shadow: $x $y $radius $color
  box-shadow: $x $y $radius $color

// clearfix

*, html, body
  margin: 0
  padding: 0

html, body 
  height: 100%     
  max-height: 100%
  
img
  border: 0

ul 
  list-style-type: none

li
  display: inline

.clear
  clear: both

a 
  text-decoration: none
  
  
// style

$bg: #EAEAEA
$bg_cont: #FFF
$txt: #222
$main: #0D6CD6 // #999 
$alt: #666
$links: #0D6CD6 - #444

@font-face
  font-family: Guardian
  src: url( /fonts/guardian.eot ) /* IE 6,7,8 */  
  
@font-face
  font-family: Guardian
  src: url('/fonts/guardian.otf')
  
body
  background: $bg
  font-family: sans-serif, Helvetica, Arial, Verdana
  color: $txt
  font-size: 120%

a
  color: $links
a:hover
  color: $links + #111
  
#container
  width: 90%
  margin: 0 auto 40px 
  padding-top: 20px
  
p 
  font-size: 0.9em
  
h1 
  margin-bottom: 30px
  font-size: 2em
  span
    font-size: 0.45em
    display: block
  a 
    color: $main
    
    
input 
  font-size: 1.4em
  padding: 3px 6px
input.submit
  margin: 0 0 0 10px
  padding: 0 0 25px 0

input[type='submit'], input.submit
  +button
  +color($main)  
  
input[type='search'], input.search
  -webkit-appearance: searchfield
  -webkit-box-sizing: border-box
  zoom: 1.3
  width: 300px
  
  
#search
  position: relative

#spinner
  position: absolute
  margin-top: 5px
  left: -35px
  display: none
  img
    width: 25px  
  
#advices
  margin-top: 100px
  
#results  
  margin: 20px 0
  ul
    li 
      float: left
      clear: left
    .res
      display: block
      margin: 6px 0
      +simple_gradient($bg+#222, $bg)
      float: left
      clear: left
      padding: 5px 20px 5px 0
      +rounded(10px)
      border: 1px solid #A5C8F2
      cursor: pointer
      span.seeds
        width: 50px
        display: block
        float: left
        text-align: right
        margin-right: 15px
        font-size: 0.9em
    .res.shared
      border: 1px solid #3F77BE
      +simple_gradient($bg+#222, #BAE5FF)
    .res:hover
      +simple_gradient($main - #222, $main + #222)
      border: 1px solid #FFF
      a
        color: #FFF
      
    li.heading
      border: 1px solid #333
      border-top: 0
      border-right: 0
      border-left: 0   
      margin: 0 0 6px 0         
      width: 500px
      background: $bg
      +rounded(0px)      
      cursor: auto
    .no_results
      padding-left: 17px
      background: $bg
      border: 0
      cursor: auto
    .fb_share
      float: left
      margin: 10px 0 0 10px
      
      

#thor_bg
  z-index: 1
  position: absolute
  right: 10% 
  top:  100px
  display: none
  
#content
  z-index: 2
  position: absolute
  
.docs #content
  position: static

iframe
  background: $bg

// docs related
      
.fork_badge
  position: absolute
  top: 0 
  right: 0
  border: 0

.mini
  font-size: 0.8em
  font-weight: normal
  text-align: right

.right
  float: right
  
.left 
  float: left

p.code 
  margin: 10px 0 
  padding: 8px 18px
  background: $bg + #111
  +border-radius(15px)
  border: 1px solid $bg - #555
  font-size: 1.1em

.gist
  margin: 10px 0
.gist .gist .gist-file 
  .gist-data  
    +border-radius(15px)
    border: 1px solid $bg - #555
    background: $bg + #111
    padding: 8px 8px
  .gist-meta
    display: none


// pages

h2
  margin-bottom: 10px

.recommended    
  h3
    margin: 0 0 13px 0
    padding: 30px 0 0
    clear: left
  img
    float: left
  span.seeds
    font-size: 1.3em
    display: block
    float: left
    margin: 35px 0 0 30px
    
.docs
  h3
    margin: 20px 0 8px
    