%h2 Recommended BT Clients

.recommended
  %h3
    %a{ href: "http://www.transmissionbt.com/download/", rel: "nofollow" } Mac/Linux

  %a{ href: "http://www.transmissionbt.com/download/", rel: "nofollow" }
    %img{ src: "/imgs/transmission.png" }
    %span Transmission

  %h3
    %a{ href: "http://deluge-torrent.org", rel: "nofollow" } Windows

  %a{ href: "http://deluge-torrent.org", rel: "nofollow" }
    %img{ src: "/imgs/deluge.png" }
    %span Deluge