%h2 Recommended BT Clients

.recommended
  %h3 
    %a{ href: "http://www.transmissionbt.com/download/", rel: "nofollow" } Mac/Linux

  %a{ href: "http://www.transmissionbt.com/download/", rel: "nofollow" }
    %img{ src: "/imgs/transmission.png" }
    %span Transmission
  
  %h3 
    %a{ href: "http://www.utorrent.com", rel: "nofollow" } Windows

  %a{ href: "http://www.utorrent.com", rel: "nofollow" }
    %img{ src: "/imgs/utorrent.png" }
    %span µTorrent